body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color:black;
    padding: 25px;
    font-size: 20px;
}
header a{
    color: white;
    text-decoration: none;
}
header a:hover{
    text-decoration:underline;
}
header ul ,header li{
    display: inline;
    margin-left: 20px;

}
/* Conteudo */

img{
    max-width: 100%;
}

section{
    display: flex;
    max-width:1200px;
    margin:0 auto;
    margin-top: 50px;
    justify-content: center;
}
.cao-grande{
    height: 500px;
    width: 800px;
}
 
.fotos-menores{
    flex-direction: column; 
    margin-left: 60px;   
    
}
img{
    height: 200px;
    width: 200px;
}
